<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.ClassificationMapper">
    <!--查询一级分类 -->
    <select id="queryClassification" resultType="Map">
    <![CDATA[
        SELECT
            one.cla_fid AS claFid,
            cla_no AS claNo,
            cla_name AS claName,
            COUNT( two.cla_fid ) AS number
        FROM
            j_classification AS one
            LEFT JOIN j_two_classification AS two ON one.cla_fid = two.cla_fid
        GROUP BY
            one.cla_fid;
    ]]>
    </select>

    <!--根据编号或名称查询一级分类 -->
    <select id="queryClassificationByNoOrName" resultType="classification" parameterType="classification">
        <![CDATA[
        SELECT
            cla_fid AS claFid,
            cla_no AS claNo,
            cla_name AS claName 
        FROM
            j_classification
    ]]>
        <if test="claNo !=null or claName!=null">
            WHERE
        </if>
        <if test="claNo !=null">
            cla_no = #{claNo}
        </if>
        <if test="claNo!=null and claName!=null">
            or
        </if>
        <if test="claName!=null">
            cla_name = #{claName}
        </if>
    </select>

    <!--根据一级Id查询一级分类 -->
    <select id="queryClassificationByOneId" resultType="Map" parameterType="int">
        <![CDATA[
        SELECT
            one.cla_fid AS claFid,
            cla_no AS claNo,
            cla_name AS claName,
            COUNT( two.cla_fid ) AS number
        FROM
            j_classification AS one
            LEFT JOIN j_two_classification AS two ON one.cla_fid = two.cla_fid
        GROUP BY
            one.cla_fid
        HAVING 1=1

    ]]>
        <if test="oneId!=null">
            and one.cla_fid = #{oneId}
        </if>
    </select>

    <!--添加一级分类-->
    <insert id="addClassificationByOne" parameterType="classification">
        INSERT INTO j_classification(cla_no,cla_name) VALUES(#{claNo},#{claName});
    </insert>

    <!--删除某一个一级商品分类-->
    <delete id="deleteClassificationByOne" parameterType="int">
        DELETE FROM j_classification WHERE cla_fid = #{oneId};
    </delete>

</mapper>