<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.CollectionMapper">
    <select id="queryColl" resultType="collect">
    <![CDATA[
         select user_id as userId,pd_id as pdId,coll_date as collDate
         from j_collect
    ]]>
    </select>

<!--查询收藏夹信息-->
    <select id="collPro" resultType="map" parameterType="int">
    <![CDATA[
      select jc.pd_id as pdId, p.pd_name as pdName,p.pd_price as pdPrice,coll_id as collId
      from product as p JOIN j_collect as jc on p.pd_id=jc.pd_id
      where user_id=#{value}
    ]]>
    </select>

<!--查看商品详细信息-->
    <select id="getPro" resultType="product" parameterType="int">
    <![CDATA[
        select pd_id as pdId,pd_name as pdName,pd_price as pdPrice,pd_number as pdNumber,pd_cover as pdCover
        from product
        where pd_id=#{value}
    ]]>
    </select>

<!--删除收藏夹商品-->
    <delete id="delPro" parameterType="int" >
    <![CDATA[
       delete from j_collect where coll_id=#{collId}
    ]]>
    </delete>

<!--加入购物车-->
    <insert id="addShop" parameterType="shop">
      <![CDATA[
        insert into j_shopping_cart (
            user_id,
            pd_id
        )
        values
        (
            #{userId},
            #{pdId}
         )
      ]]>
    </insert>
    <!--加入收藏夹-->
    <insert id="addCollect" parameterType="collect">
      <![CDATA[
        INSERT INTO j_collect(user_id,pd_id) VALUES(#{userId},#{pdId});
      ]]>
    </insert>
</mapper>