<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.OrderMapper">
    <!--根据用户ID查询所有订单 -->
    <select id="queryOrder" resultType="map" parameterType="int">
    <![CDATA[
    select
         x.order_id  as  orderId,
         x.order_no  as  orderNo,
         p.pd_name   as  pdName,
         p.pd_price  as  pdPrice,
         x.order_price as orderPrice,
         x.express_no   as  expressNo,
         x.create_time  as  createTime
    from
    (select i.order_id,i.order_no,i.user_id,i.order_price,i.express_no,i.create_time,j.pd_id
    from j_order i
    left join j_ordexx j on i.order_id=j.order_id
    where user_id=#{userId}) x
    left join product p on x.pd_id=p.pd_id
    ]]>
    </select>

    <!--根据用户ID以及订单状态查询所有订单 -->
    <select id="info" resultType="map" parameterType="int">
    <![CDATA[
    select
         x.order_status as orderStatus,
         x.order_no  as  orderNo,
         p.pd_name   as  pdName,
         p.pd_price  as  pdPrice,
         x.order_price as orderPrice,
         x.create_time  as  createTime
    from
    (select i.order_status,i.order_no,i.user_id,i.order_price,i.create_time,j.pd_id
    from j_order i
    left join j_ordexx j on i.order_id=j.order_id
    where user_id=#{userId} and order_status=#{orderStatus}) x
    left join product p on x.pd_id=p.pd_id
    ]]>
    </select>
    <!-- 删除订单-->
    <delete id="deleteOrder" parameterType="int">
        <![CDATA[
          delete from j_order where order_id=#{orderId}
        ]]>
    </delete>
    <!-- 根据订单ID加载订单信息-->
    <select id="getOrder" resultType="order" parameterType="int">
    <![CDATA[
        select
        order_no as orderNo,
        user_id as userId,
        order_price as orderPrice,
        express_no as expressNo,
        create_time as createTime,
        order_status as orderStatus
        from j_order
        where order_id=#{orderId}
    ]]>
    </select>

    <!-- 根据订单ID修改订单信息-->
    <update id="updateOrder" parameterType="order">
    <![CDATA[
        update  j_order
        set     order_no=#{orderNo},
         order_price=#{orderPrice},
         express_no=#{expressNo},
         order_status=#{orderStatus}
        where order_id=#{orderId}
     ]]>
    </update>
    <insert id="insertOrder" parameterType="order">
        <![CDATA[
        insert into j_order(
        order_no,user_id,order_price,express_no,create_time,order_status)
        values(#{orderNo},#{userId},#{orderPrice},#{expressNo},#{createTime},#{orderStatus})
        ]]>
    </insert>
    <insert id="insertOrderxx" parameterType="orderxx">
        <![CDATA[
        insert into j_ordexx(
        order_id,pd_id,pd_number,pd_price)
        values(#{orderId},#{pdId},#{pdNumber},#{pdPrice})
        ]]>
    </insert>

</mapper>