<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.ShopMapper">

    <!--根据购物车ID修改购物车数量和购物车价格-->
    <update id="updateShop" parameterType="shop">
    <![CDATA[
        update  j_shopping_cart
        set     sc_id=#{scId},
                sc_number=#{scNumber},
                sc_price=#{scPrice}
        where   sc_id=#{scId}
     ]]>
    </update>

    <!--根据购物车ID删除商品-->
    <delete id="deleteShop" parameterType="int">
        <![CDATA[
        delete from j_shopping_cart where user_id=#{userId}
      ]]>
    </delete>


<!--未提交-->
    <!--根据用户ID查询购物车信息-->
    <select id="queryCart" resultType="map" parameterType="int" >
        <![CDATA[
         SELECT
            jsc.sc_id as scId,
            jsc.sc_number as scNumber,
            jsc.user_id as userId,
            p.pd_id as pdId,
            p.pd_name as pdName,
            p.pd_price as pdPrice,
            p.pd_three_id as pdthreeId,
            p.pd_cover as pdCover
        FROM
            product as p join j_shopping_cart as jsc  on jsc.pd_id=p.pd_id
		WHERE
			jsc.user_id=#{userId}
        ]]>
    </select>

    <!--将购物车信息插入订单表中-->
    <insert id="addOrder" parameterType="order" keyProperty="orderId" >
      <![CDATA[
        insert into j_order (
          user_id as userId,
          pd_price as pdPrice,/*总价*/
          create_time as createTime,
          order_status as orderStatus
        )
        values
        (
            #{userId},
            #{pdPrice},
            #{createTime},
            #{orderStatus}
         )
      ]]>
    </insert>

    <!--向Orderxx插入信息-->
    <insert id="addOrderxx" parameterType="orderxx">
    <![CDATA[
        insert into j_order (
          order_id as orderId,
          pd_id as pdId,
          pd_number as pdNumber
        )
        values
        (
            #{orderId},
            #{pdId},
            #{pdNumber}
         )
      ]]>
    </insert>

    <!--修改购物车购物数量-->
   <update id="upshopNum" parameterType="int">
       <![CDATA[
        update  j_shopping_cart
        set     sc_number=#{scNumber}
        where   sc_id=#{scId}
     ]]>
    </update>

</mapper>